* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

div {
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

p.odd-number{
  background-color: pink;
  font-family: Verdana, Dejavu sans, sans-serif;
}

#numberTwo{
  background-color: transparent;
  color: blue;
  font-size: 36px;
}

#cooler{
  font-size: 24px;
}

#numberFour{
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}